<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Predict Wing Flowfield</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f7f7f7;
    }

    .outputImage {
      max-width: 100%;
      height: auto;
      display: block;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    .box {
      background-color: white;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      display: block;
    }

    .box h3 {
      margin-top: 0;
      margin-bottom: 20px;
    }

    .parameter-row {
      display: grid;
      grid-template-columns: 1fr 80px 320px;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
    }

    .parameter-row label {
      text-align: right;
    }

    .parameter-row textarea {
      width: 400px;
      box-sizing: border-box;
      /* Ensure padding is included in width */
    }

    .parameter-row input[type="range"] {
      width: 90%;
      margin-left: 20px;
    }

    .parameter-row input[type="number"] {
      width: 100%;
      text-align: right;
    }

    .coefficients p {
      margin: 5px 0;
    }

    .btn {
      padding: 10px 20px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      cursor: pointer;
    }

    .plot {
      width: 100%;
      height: auto;
    }

    .logo {
      display: flex;
      justify-content: flex-end;
    }

    .logo img {
      width: 100px;
    }
  </style>
</head>

<body>
  <div class="container">
    <!-- Sectional Airfoil Parameters -->
    <div class="box">
      <h3>Sectional Airfoil Parameters</h3>
      <div class="parameter-row">
        <label for="airfoil-select">Select from</label>
        <select id="airfoil-select">
        </select>
      </div>
      <div class="parameter-row">
        <label for="cstu">CSTU</label>
        <textarea id="cstu" rows="3"></textarea>
      </div>
      <div class="parameter-row">
        <label for="cstl">CSTL</label>
        <textarea id="cstl" rows="3"></textarea>
      </div>
      <div class="parameter-row">
        <label for="root-thickness">Root Thickness</label>
        <input type="number" id="root-thickness-value" value="0.0805" min="0" max="1" step="0.001">
        <input type="range" id="root-thickness" min="0" max="1" step="0.001" value="0.0805">
      </div>
    </div>

    <!-- Airfoil Geometry -->
    <div class="box">
      <h3>Airfoil Geometry</h3>
      <div class="plot">
        <img id="display_sectional_airfoil" class="outputImage" src="" 
          alt="Airfoil Geometry">
      </div>
    </div>

    <!-- Wing Planform Parameters -->
    <div class="box">
      <h3>Wing Planform Parameters</h3>
      <div class="parameter-row">
        <label for="swept-angle">Swept Angle</label>
        <input type="number" id="swept-angle-value" value="0.1614" min="0" max="10" step="0.001">
        <input type="range" id="swept-angle" min="0" max="10" step="0.001" value="0.1614">
      </div>
      <div class="parameter-row">
        <label for="dihedral-angle">Dihedral Angle</label>
        <input type="number" id="dihedral-angle-value" value="1.565" min="0" max="10" step="0.001">
        <input type="range" id="dihedral-angle" min="0" max="10" step="0.001" value="1.565">
      </div>
      <div class="parameter-row">
        <label for="aspect-ratio">Aspect Ratio</label>
        <input type="number" id="aspect-ratio-value" value="9.43" min="0" max="10" step="0.001">
        <input type="range" id="aspect-ratio" min="0" max="10" step="0.001" value="9.43">
      </div>
      <div class="parameter-row">
        <label for="tapper-ratio">Taper Ratio</label>
        <input type="number" id="tapper-ratio-value" value="0.766" min="0" max="10" step="0.001">
        <input type="range" id="tapper-ratio" min="0" max="10" step="0.001" value="0.766">
      </div>
      <div class="parameter-row">
        <label for="tip-angle">Tip Twist Angle</label>
        <input type="number" id="tip-angle-value" value="0.833" min="0" max="10" step="0.001">
        <input type="range" id="tip-angle" min="0" max="10" step="0.001" value="0.833">
      </div>
      <div class="parameter-row">
        <label for="thickness-ratio">Tip-to-root Thickness Ratio</label>
        <input type="number" id="thickness-ratio-value" value="0.905" min="0" max="10" step="0.001">
        <input type="range" id="thickness-ratio" min="0" max="10" step="0.001" value="0.905">
      </div>
    </div>

    <!-- Wing Shape -->
    <div class="box">
      <h3>Wing Shape</h3>
      <div class="plot">
        <img id="display_wing_frame" class="outputImage" src="" alt="Wing Shape">
      </div>
    </div>

    <!-- Operating Conditions -->
    <div class="box">
      <h3>Operating Conditions</h3>
      <div class="parameter-row">
        <label for="aoa">AoA</label>
        <input type="number" id="aoa-value" value="3.52" min="0" max="10" step="0.001">
        <input type="range" id="aoa" min="0" max="10" step="0.01" value="3.52">
      </div>
      <div class="parameter-row">
        <label for="mach">Mach</label>
        <input type="number" id="mach-value" value="0.736" min="0" max="1" step="0.001">
        <input type="range" id="mach" min="0" max="1" step="0.001" value="0.736">
      </div>
      <h3>Coefficients Result</h3>
      <div class="parameter-row">
        <label for="CL">CL</label>
        <p id="CL"></p>
      </div>
      <div class="parameter-row">
        <label for="CD">CD</label>
        <p id="CD"></p>
      </div>
      <div class="parameter-row">
        <label for="CM">CM</label>
        <p id="CM"></p>
      </div>
    </div>

    <!-- Predict Wing Flowfield -->
    <div class="box">
      <h3>Predict Wing Flowfield</h3>
      <div class="plot">
        <img id="predict_wing_flowfield" class="outputImage" src=""
          alt="Wing Flowfield">
      </div>
    </div>

    <!-- Logo -->
    <div class="box">
      <div class="plot">
        <img id="logo" class="outputImage" src="/static/image/logo.png"
          alt="Logo">
      </div>
    </div>
  </div>

  <script>
    // Sync input[type="number"] and input[type="range"]
    const bindInput = (numberInputId, rangeInputId) => {
      const numberInput = document.getElementById(numberInputId);
      const rangeInput = document.getElementById(rangeInputId);

      numberInput.addEventListener('input', function () {
        rangeInput.value = numberInput.value;
      });

      rangeInput.addEventListener('input', function () {
        numberInput.value = rangeInput.value;
      });
    };

    // Bind all sliders and inputs
    bindInput('root-thickness-value', 'root-thickness');
    bindInput('swept-angle-value', 'swept-angle');
    bindInput('dihedral-angle-value', 'dihedral-angle');
    bindInput('aspect-ratio-value', 'aspect-ratio');
    bindInput('tapper-ratio-value', 'tapper-ratio');
    bindInput('tip-angle-value', 'tip-angle');
    bindInput('thickness-ratio-value', 'thickness-ratio');
    bindInput('aoa-value', 'aoa');
    bindInput('mach-value', 'mach');

    let wingIndexData = {}; // 保存从wingindex.json加载的数据
    var inputs = [4.670791528, 0.721055084, 25.722569257, 2.893515097, 8.206646713, 0.594544868, 0.766402576, 0.843740541, 0.075933877, 0.127281896, 0.127509615, 0.249741682, 0.080180633, 0.253380644, 0.204942075, 0.202460864, 0.158514521, 0.300305704, 0.032347114, -0.150880952, -0.051869412, -0.225091367, -0.04184105, -0.294681513, -0.103190222, -0.094203569, -0.208170602, 0.2, 0.076282995];
    fetch('static/max_min.json')
      .then(response => response.json())
      .then(data => createSliders(data))
      .catch(error => console.error('Error loading max_min.json:', error));

    // 加载wingindex.json的数据并填充下拉框
    fetch('static/wingindex.json')
      .then(response => response.json())
      .then(data => {
        wingIndexData = data;
        populateDropdown(wingIndexData); // 填充下拉框
      })
      .catch(error => console.error('Error loading wingindex.json:', error));

    // 填充下拉框选项
    function populateDropdown(data) {
      const dropdown = document.getElementById('airfoil-select');
      dropdown.innerHTML = ''; // 清空之前的选项

      // 遍历 wingindex.json 中的键并创建选项
      for (let key in data) {
        if (data.hasOwnProperty(key)) {
          const option = document.createElement('option');
          option.value = key;
          option.textContent = key;
          dropdown.appendChild(option);
        }
      }
      // 添加change事件监听器，当用户选择新值时，自动更新滑动条
      dropdown.addEventListener('change', function () {
        var subArray1 = data[dropdown.value].slice(1, 9);
        var subArray2 = data[dropdown.value].slice(10, 31);
        inputs = subArray1.concat(subArray2);
        console.log(inputs);
        populateValue(inputs);
      });
    }


    const value_ids = ['aoa-value', 'mach-value', 'swept-angle-value', 'dihedral-angle-value', 'aspect-ratio-value', 'tapper-ratio-value', 'tip-angle-value', 'thickness-ratio-value', 'root-thickness-value', 'cstu', 'cstl'];
    const slider_ids = ['aoa', 'mach', 'swept-angle', 'dihedral-angle', 'aspect-ratio', 'tapper-ratio', 'tip-angle', 'thickness-ratio', 'root-thickness'];


    function createSliders(data) {
      // for each key in data, getElementById(slider_ids[i]) and set min, max
      for (let i = 0; i < slider_ids.length; i++) {
        const slider = document.getElementById(slider_ids[i]);
        slider.min = data[i + 1].min;
        slider.max = data[i + 1].max;
      }
    }

    function populateValue(inputs_value) {
      for (let i = 0; i < value_ids.length - 2; i++) {
        document.getElementById(value_ids[i]).value = inputs_value[i];
        document.getElementById(slider_ids[i]).value = inputs_value[i];
      }
      document.getElementById('cstu').value = inputs_value.slice(9, 19).toString();
      document.getElementById('cstl').value = inputs_value.slice(19, 29).toString();
      display_sectional_airfoil();
      display_wing_frame();
      update_predict();
    }

    populateValue(inputs);

    function update_image(id, index) {
      const element = document.getElementById(id);
      if (index < 9) {
        inputs[index] = parseFloat(element.value);
      } 
      else if (index === 9) {
        const newValues = element.value.split(",").map(parseFloat);
        inputs.splice(9, 10, ...newValues);
      } 
      else if (index === 10) {
        const newValues = element.value.split(",").map(parseFloat);
        inputs.splice(19, 10, ...newValues);
      }
      console.log(inputs);
      if (index >= 8) {
        display_sectional_airfoil();
      } 
      else if (index >= 2 & index <= 7) {
        display_wing_frame();
      }
    }

    function display_sectional_airfoil() {

      console.log("display_sectional_airfoil")
      // 发送 POST 请求到 Flask 后端
      fetch('/display_sectional_airfoil', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ inputs: inputs.slice(8) })  // 发送 inputs[9:] 部分
      })
        .then(response => response.json())
        .then(data => {
          // 成功后，获取带时间戳的图片并更新 HTML 中的 img src
          const imgElement = document.getElementById('display_sectional_airfoil');
          imgElement.src = data.image;  
        })
        .catch(error => {
          console.error('Error:', error);  // 错误处理
        });
    }

    function display_wing_frame() {
      console.log("display_wing_frame")

      // 发送 POST 请求到 Flask 后端
      fetch('/display_wing_frame', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ inputs: inputs.slice(2) })  // 发送 inputs[3:] 部分
      })
        .then(response => response.json())
        .then(data => {
          // 成功后，获取带时间戳的图片并更新 HTML 中的 img src
          const imgElement = document.getElementById('display_wing_frame');
          imgElement.src = data.image;
        })
        .catch(error => {
          console.error('Error:', error);  // 错误处理
        });
    }


    function update_predict() {
      console.log("predict_wing_flowfield");
      // 发送 POST 请求到 Flask 后端
      fetch('/predict_wing_flowfield', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ inputs: inputs })
      })
        .then(response => response.json())
        .then(data => {
          // 成功后，获取带时间戳的图片并更新 HTML 中的 img src
          const imgElement = document.getElementById('predict_wing_flowfield');
          imgElement.src = data.image;
          console.log(data.cl_array);
          const cl_array = data.cl_array;
          document.getElementById('CL').textContent = data.cl_array[0];
          document.getElementById('CD').textContent = data.cl_array[1];
          document.getElementById('CM').textContent = data.cl_array[2];
        })
        .catch(error => {
          console.error('Error:', error);  // 错误处理
        });
    }

    function value_change() {
      let lastUpdated = 0;
      let lastPredict = 0;
      
      value_ids.forEach((id, index) => {
        const element = document.getElementById(id);
        if (element) {
          element.addEventListener('input', function () {
            const currentTime = Date.now();
            if (currentTime - lastUpdated > 10) {
              update_image(id, index);
              lastUpdated = currentTime;
            }
            if (currentTime - lastPredict > 1500) {
              update_predict();
              lastPredict = currentTime;
            }
          });
        }
      });
      
      slider_ids.forEach((id, index) => {
        const element = document.getElementById(id);
        if (element) {
          element.addEventListener('input', function () {
            const currentTime = Date.now();
            if (currentTime - lastUpdated > 500) {
              update_image(id, index);
              lastUpdated = currentTime;
            }
            if (currentTime - lastPredict > 1500) {
              update_predict();
              lastPredict = currentTime;
            }
          });
        }
      });
    }
    value_change();
  </script>
</body>

</html>